<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="base.ProjectListener"></listener></listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="projectTestCases.TC001Login"/>
      <class name="projectTestCases.TC002Registration"/>
      <class name="projectTestCases.TC003Add_to_Cart"/>
      <class name="projectTestCases.TC004PurchaseGiftCertificate"/>
      <class name="projectTestCases.TC005contactUs"/>
     
   
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
